@import '../../varibles.scss';

.wrapper{
    height: fit-content;
    img{
        width: 100%;
        border-radius: 20px;
    }
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        margin-top: 32px;
        li{
            list-style: none;
            position: relative;
            display: flex;
            align-items: center;
            font-weight: 500;
            &:not(:last-child){
                &::after{
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: $active-color;
                    margin: 0 12px;
                }
            }
        }
    }
    h5{
        margin-top: 16px;
        font-size: 2.5rem;
        font-weight: bold;
    }
    p{
        margin-top: 12px;
        font-size: 1.25rem;
        opacity: 0.8;
    }
    a{
        display: block;
        margin-top: 32px;
        font-size: 1.25rem;
        text-decoration: none;
        color: $text-color;
        padding-bottom: 4px;
        width: fit-content;
        border-bottom: 1px solid $text-color;
    }
    @media screen and (max-width: 1040px) {
        ul li{font-size: 0.75rem;}
        p{
            font-size: 1rem;
            margin-top: 8px;
        }
        a{
            margin-top: 24px;
        }
    }
}