@import '../../varibles.scss';

@keyframes title {
    0% {transform: translateY(100%)}
    100% {transform: translateY(0)}
}
@keyframes titleBG {
    0% {transform: translateY(0)}
    100% {transform: translateY(100%)}
}

.overflow{
    overflow: hidden;
    height: fit-content;
}

.headerSection{
    margin-top: 120px;
    width: 100%;
    h1{
        font-family: 'Dela Gothic One', cursive;
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-size: 7vw;
        position: relative;
        span{
            display: block;
            background: linear-gradient(180deg, #FD7014 0%, rgba(253, 112, 20, 0.03) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    ul{
        display: flex;
        padding: 0;
        margin: 0 auto;
        padding: 12px 32px;
        margin-top: 60px;
        border: 2px solid $text-color;
        border-radius: 100px;
        width: fit-content;
        position: relative;
        z-index: 10;
        li{
            list-style: none;
            font-size: 1.5rem;
            position: relative;
            display: flex;
            align-items: center;
            &:not(:last-child){
                &::after{
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $active-color;
                    margin: 0 16px;
                }
            }
        }
    }
    @media screen and (min-width: 1440px){
        h1{font-size: 112px;}
    }
    @media screen and (max-width: 1040px){
        ul {
            padding: 12px 17.5px;
            li{
                font-size: 1rem;
            }
        }
    }
    @media screen and (max-width: 744px){
        ul{display: none;}
    }
}
.projectsSection{
    margin-top: 300px;
    @media screen and (max-width: 1040px){
        margin-top: 200px;
    }
}
.projectsLink{
    font-size: 1.25rem;
    width: 323px;
    padding: 13px 0;
    border-radius: 12px;
    text-decoration: none;
    color: $text-color;
    display: block;
    text-align: center;
    border: 2px solid $text-color;
    margin-top: 40px;
    font-weight: 500;
    &:hover{
        color: $text-color;
        background: $active-color;
        border-color: $active-color;
        transition: .5s;
    }
    @media screen and (max-width: 1040px){
        width: 100%;
        font-size: 1.5rem;
        padding: 14.5px 0;
    }
    @media screen and (max-width: 744px){
        width: 100%;
        font-size: 1rem;
        padding: 11.5px 0;
        margin-top: 32px;
    }
}

.serveSection{
    margin-top: 200px;
    @media screen and (max-width: 1040px){
        margin-top: 160px;
    }
    @media screen and (max-width: 744px){
        margin-top: 60px;
    }
}

.teamSection{
    margin-top: 200px;
    &__row{
      display: flex;
      margin-top: 60px;
    }
    &__content{
       max-width: calc(100% / 3);
       p{
           font-size: 1.25rem;
           opacity: 0.8;
       }
       h5{
           font-size: 2.5rem;
           margin-bottom: 12px;
           margin-top: 40px;
       }
       a{
            display: block;
            margin-top: 24px;
            font-size: 1.25rem;
            text-decoration: none;
            color: $text-color;
            padding-bottom: 4px;
            width: fit-content;
            border-bottom: 1px solid $text-color;
        }
    }
    &__slider{
        max-width: calc((100% / 3) * 2);
    //    max-width: calc(((100% / 3) * 2) + (100vw - 1400px)/2);
    //    transform: translateX(calc((100vw - 1400px)/2));
    }
    @media screen and (max-width: 1040px){
        margin-top: 160px;
        &__row{
            margin-top: 40px;
            flex-direction: column;
        }
        &__content{
            max-width: none;
            p{
            font-size: 1rem;
            }
            h5{
            display: none;
            }
            a{
            display: none;
            }
        }
        &__slider{
            max-width: none;
            margin-top: 32px;
        }
    }
    @media screen and (max-width: 744px){
        margin-top: 60px;
        &__content{
            p{
            font-size: 0.875rem;
            }
        }
    }
}